
<div class="filterBack">
    <div class="filter">
        <label for="">Filter Fatigue Score by Date :  </label><input type="date" [(ngModel)]="date">
        <button class="filterbydate" (click)="filterByDate(date, employee_name)">Filter</button>
        <button (click)="reload()">back to Live data</button>
    </div>
    <div class="filter">
        <label for="">Show Highest Fatigue Score on :  </label><input type="date" [(ngModel)]="highestScore">
        <button class="filterbydate" (click)="getHighestScore(highestScore, employee_name)">Get Score</button>
    </div>

</div>

<div style="margin-top: 4px; height: 90vh;">

    <div style=" font-family:monospace;font-size: large; width: 290px; height: 150px; padding: 3%; position: relative; left: 0px; top: 0px; background-color: rgb(255, 224, 228);">
        <h4>Employee Name : <span style="font-size: 0.8rem; font-weight: bolder; color: darkblue; font-family:Verdana, Geneva, Tahoma, sans-serif;">{{ employee_name }}</span></h4>
        <h4>Age :</h4>
        <h4>Gender :</h4>
    </div>

    <div style="color:rgb(143, 136, 136); width: 290px; height: 245px; padding: 3%; position: relative; left: 0px; bottom:-5px; background-color: rgb(223, 154, 163); margin-left: 0px;">
        <h3 class="a">Highest Fatigue Score:</h3><h1 class="b">{{score}}</h1>
    </div>

    <div style="position: absolute;background-color: rgba(230, 7, 44, 0.3); height: 405px; width: 560px; right: 0px; bottom: 0px;"></div>

    <div style="width: 30%; height: 50%; position: relative; left: 360px; bottom: 405px; margin-top: 0px; margin-bottom: 50px;">
        <!-- <canvas id="canvas1"></canvas>  -->
        <img style="width: 100%; height: 100%; margin-left: 18px;" src="{{url}}/images/{{image}}" alt="">
        <h2 style="text-align: center; position: relative; left: 20px;">Camera Live Feed</h2>
    </div>
    
    
    
    <div style="width: 40%; height: 50%; position: absolute; bottom: 40px; left: 800px;">
        <canvas id="canvas"></canvas>
    </div>
    
    
    <!-- <div style="width: 40%; height: 50%; position: relative; left: 100px; bottom: 575px;">
        <canvas id="canvas2"></canvas>
    </div> -->

</div>


   












