.filter {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    margin-right: 10px;
}

button {
    margin-right: 10px;
    background-color: aquamarine;
    border-color: black;
    padding: 5px;
}

label {
    font-weight: bold;
}

.a, .b {
    color: black;
    text-align: center;
    padding-top: 20px;
}

.b {
    font-size: 3rem;
}

.filterBack {
    background-color: rgb(150, 191, 245);
    width: 70%;
    padding: 1%;
    position: absolute;
    right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

