<mat-toolbar color="accent">
    <mat-toolbar-row>
      <span style="position: relative; left: 20px;">OPALERT</span>
      <button (click)="logout()" mat-mini-fab color="primary" style="font-size: 0.6rem;">LOGOUT</button>
    </mat-toolbar-row>
  </mat-toolbar>
