<div class="heading">
    <h3>OPERATION FATIGUE DETECTION SYSTEM</h3>
    <h4>Admin Login</h4>
</div>

<!-- login form -->
<form #loginForm="ngForm" (ngSubmit)="logValues(loginForm)">
<div class="login">
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input type="text" name="username" ngModel matInput>
    </mat-form-field>

    <br><mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" name="password" ngModel matInput>
    </mat-form-field>

    <br><button type="submit" mat-raised-button color="accent">Login</button>
</div>
</form>

