<mat-form-field style="width: 30%; position: relative; left: 275px; top: 10px">
    <mat-label>Search Employee</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. kalyan">
  </mat-form-field>
  
  <table style="width: 60%; position: relative; margin: auto; top: 50px;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>Serial No. </th>
      <td mat-cell *matCellDef="let element"> 1 </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Employee Name </th>
      <td mat-cell *matCellDef="let element"> {{element.employee_name}} </td>
    </ng-container>
  
    <!-- Shift Column -->
    <ng-container matColumnDef="shiftTime">
      <th mat-header-cell *matHeaderCellDef> Total Shift Time </th>
      <td mat-cell *matCellDef="let element">{{element.duty_hours}} </td>
    </ng-container>
  
    <!-- stat Column -->
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef> OP Stat </th>
      <td mat-cell *matCellDef="let element"><button mat-mini-fab color="accent" (click)="showStats(element.employee_name)">stats</button></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  